.nav {
  & &__item {
    a.nav-link {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 10px;
      color: $nav-color;
      position: relative;

      &:hover, &:active {
        color: $brown;
      }

      &:after {
        transition: width 0.4s ease-in-out;
        content: '';
        height: 3px;
        width: 0;
        left: 0;
        bottom: 0;
        background-color: $brown;
        position: absolute;
        display: inline-block;
      }

      &_active {
        &:after {
          width: 100%;
        }
      }

      @media screen and (min-width: 768px) and (max-width: 1023.98px) {
        margin: 0;
      }
    }
  }
}