.footer {
  padding: 40px 0;
  background-color: #f7ebc5;

  &__socials {
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  .header__langs {
    text-align: left !important;
  }
}
