.header {
  padding: 20px 0;
  background-color: $begie;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 5px 20px inset $brown;
  transition: padding 0.4s ease-in-out;
  z-index: 999;

  &_sticky {
    padding: 8px 0;
  }

  &__logo {
    &:link, &:hover, &:visited, &:visited {
      color: $brown;
      font-size: 3em;
      text-decoration: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1023.98px) {
      &:link, &:hover, &:visited, &:visited {
        font-size: 2em;
      }
    }
  }

  @media screen and (max-width: 767.98px) {
    padding: 8px 0;
  }

  &__langs {
    &-link {
      display: inline-block;
      margin: 0 4px;
    }

    &-icon {
      line-height: 1.5em;
    }
  }
}
