.nav {
  & &__item {
    a.nav-link {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 10px;
      color: $nav-color;
      position: relative;

      &:hover, &:active, &:visited, &:link {
        color: $nav-color;
      }

      &:after {
        transition: transform 0.4s ease-in-out;
        transform: scaleX(0);
        content: '';
        height: 3px;
        left: 0;
        bottom: 0;
        background-color: $brown;
        position: absolute;
        display: inline-block;
        width: 100%;
      }

      @media screen and (max-width: 1023.98px) {
        margin: 0;
      }

      @media screen and (max-width: 767.98px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &_active {
      a.nav-link {
        &:after {
          transform: scaleX(1);
        }
      }
    }
  }

  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }

    &-icon {
      background-image: none;
      padding-top: 2px;
      padding-bottom: 2px;

      &-line {
        height: 4px;
        background-color: $brown;
        transition: all 0.4s ease-in-out;

        &:nth-child(2) {
          width: calc(200% / 3);
        }

        &:nth-child(3) {
          width: calc(100% / 3);
        }

        &.collapsed {
          width: 100%;
          background: $light-brown;
        }
      }
    }
  }
}
