.nav {
  & &__item {
    a.nav-link {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 10px;
      color: $nav-color;
      position: relative;

      &:hover, &:active, &:visited, &:link {
        color: $nav-color;
      }

      &:after {
        transition: transform 0.4s ease-in-out;
        content: '';
        height: 3px;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $brown;
        position: absolute;
        display: inline-block;
        transform: scaleX(0);
      }

      &_active {
        &:after {
          transform: scaleX(1);
        }
      }

      @media screen and (min-width: 768px) and (max-width: 1023.98px) {
        margin: 0;
      }
    }
  }
}
