.socials {
  &__link {
    padding: 8px;
    text-align: center;
    color: $nav-color;

    &:before {
      font-size: 1.7rem;
      vertical-align: middle;
      height: 100%;
      display: inline-block;
    }

    &:hover, &:active {
      color: $brown;
      text-decoration: none;
    }
  }
}