<carousel :autoHeight="true" :dots="false" :margin="10" class="carousel carousel_works" :nav="false"
          :responsive="{0:{items:1, margin: 0},640:{items:2}, 768:{items:3}}">
    <div class="carousel__item" @click.stop="showWorkGallery" title="Кликните, чтобы посмотреть все фотографии">
        <div data-image-src="images/portfolio/1-1024.jpg" data-image-alt=""
             data-dimensions="{&quot;768&quot;: 768, &quot;1024&quot;: 1024}"></div>
        <div class="carousel__item-caption">
            <span>Скандинавская игра "Дальдоза"</span>
        </div>
    </div>
    <div class="carousel__item" @click.stop="showWorkGallery" title="Кликните, чтобы посмотреть все фотографии">
        <div data-image-src="images/portfolio/3-1024.jpg" data-image-alt=""
             data-dimensions="{&quot;768&quot;: 768, &quot;1024&quot;: 1024}"></div>
        <div class="carousel__item-caption">
            <span>Обложка для паспорта. Сделана из натуральной кожи. <br>Пирография.</span>
        </div>
    </div>
    <div class="carousel__item" @click.stop="showWorkGallery" title="Кликните, чтобы посмотреть все фотографии">
        <div data-image-src="images/portfolio/2-1024.jpg" data-image-alt=""
             data-dimensions="{&quot;768&quot;: 768, &quot;1024&quot;: 1024}"></div>
        <div class="carousel__item-caption">
            <span>
                Скандинавская игра "Хнефатафл".<br>
                Материалы - кожа, дубовый желудь, каштан. Пирография.
            </span>
        </div>
    </div>
    <div class="carousel__item" @click.stop="showWorkGallery" title="Кликните, чтобы посмотреть все фотографии">
        <div data-image-src="images/portfolio/7-1024.jpg" data-image-alt=""
             data-dimensions="{&quot;768&quot;: 768, &quot;1024&quot;: 1024}"></div>
        <div class="carousel__item-caption">
            <span>
                Магниты на холодильник. Пирография
            </span>
        </div>
    </div>
    <div class="carousel__item" @click.stop="showWorkGallery" title="Кликните, чтобы посмотреть все фотографии">
        <div data-image-src="images/portfolio/8-1024.jpg" data-image-alt=""
             data-dimensions="{&quot;768&quot;: 768, &quot;1024&quot;: 1024}"></div>
        <div class="carousel__item-caption">
            <span>
                Ташка из кожи на Скандинавию.<br>
                Литье - латунь.
            </span>
        </div>
    </div>
    <div class="carousel__item" @click.stop="showWorkGallery" title="Кликните, чтобы посмотреть все фотографии">
        <div data-image-src="images/portfolio/9-1024.jpg" data-image-alt=""
             data-dimensions="{&quot;768&quot;: 768, &quot;1024&quot;: 1024}"></div>
        <div class="carousel__item-caption">
            <span>
                Ботинки из натуральной кожи на Скандинавию, 9 - 11 вв.<br>
                Пропитаны воско-жировым составом.
            </span>
        </div>
    </div>
    <div class="carousel__item" @click.stop="showWorkGallery" title="Кликните, чтобы посмотреть все фотографии">
        <div data-image-src="images/portfolio/10-1024.jpg" data-image-alt=""
             data-dimensions="{&quot;768&quot;: 768, &quot;1024&quot;: 1024}"></div>
        <div class="carousel__item-caption">
            <span>
                Нож кованый, сталь 65-Г. Рукоять - бук.<br>
                Пропитка рукояти льняным маслом.
            </span>
        </div>
    </div>

    <template slot="prev"><span
            class="fa fa-angle-left carousel__nav-btn carousel__nav-btn_prev"></span></template>
    <template slot="next"><span
            class="fa fa-angle-right carousel__nav-btn carousel__nav-btn_next"></span></template>
</carousel>

<div class="gallery gallery_hidden" v-if="workGallery.length">
    <img class="gallery__image" v-for="(workImage, imageIndex) in workGallery" @click="workGalleryIndex = imageIndex"
         :src="workImage" />
</div>
<vue-gallery :images="workGallery" :index="workGalleryIndex" :options="{container: '#work-gallery'}" id="work-gallery"
             @close="workGalleryIndex = null"></vue-gallery>